<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile Number</th>
      <th>Score(<%= @quiz.marks %>)</th>
      <th>Attempts</th>
    </tr>
  </thead>
  <tbody>
    <% @results.each do |record| %>
      <tr>
        <td><%= record.user.name %></td>
        <td><%= record.user.email %></td>
        <td><%= record.user.contact_number %></td>
        <td><%= link_to record.score, admin_responses_path(@quiz, record.user) %></td>
        <td><%= record.number_of_attempts %></td>
      </tr>
    <% end %>
  </tbody>
</table>