  <h2>Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= (render partial: '/errors', locals: { object: resource } ) if resource.errors.any? %>

<div class='user-ui'>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :first_name, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.text_field :first_name, autofocus: true, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :last_name, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.text_field :last_name, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :email, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.email_field :email, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :contact_number, 'Mobile Number', class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.text_field :contact_number, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :enrollment_number, 'University Roll Number', class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.text_field :enrollment_number, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :college_name, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.text_field :college_name, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :engineering_branch, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.select :engineering_branch, ENGINEERING_BRANCHES, prompt: true, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :password, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.password_field :password, required: true %>
      </div>
    </div>
    <div class='attributes'>
      <div class='labels'>
        <%= f.label :password_confirmation, class: 'inline-element' %><span class='required-field'>*</span>
      </div>
      <div class='input-elements'>
        <%= f.password_field :password_confirmation, required: true %>
      </div>
    </div>
    <%= f.submit "Sign up" %>
  <% end %>
</div>